/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  
  /* Estilos da barra de navegação */
  nav {
    background-color: #444;
    padding: 10px;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
  }
  
  nav ul li {
    margin: 0 10px;
  }
  
  /* Estilos da seção de destaque */
  .hero {
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #fff;
    padding: 80px 20px;
  }
  
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .hero .btn {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .hero .btn:hover {
    background-color: #e6b800;
  }
  
  /* Estilos da seção de cafés especiais */
  .specialty-coffees {
    text-align: center;
    padding: 40px 20px;
  }
  
  .specialty-coffees h2 {
    font-size: 30px;
    margin-bottom: 30px;
  }
  
  .coffee-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .coffee-item {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .coffee-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  .coffee-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .coffee-item p {
    margin-bottom: 20px;
  }
  
  .coffee-item .btn {
    display: inline-block;
    background-color: #ffcc00;
    color: #333;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .coffee-item .btn:hover {
    background-color: #e6b800;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: #fff;
  }
