body {
  margin: 3cm;
  background-color: #fff;
  color: #000; 
  text-align: center;
}

h2 {
  color: #8B4513; /* Marrom */
}

form {
  max-width: 500px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input,
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
}

th {
  background-color: #8B4513; /* Marrom */
  color: #fff; /* Branco */
}

td {
  background-color: #fff; /* Branco */
  color: #000; /* Preto */
}

input[type="number"] {
  width: 50px;
}

button {
  background-color: #FFD700; /* Amarelo */
  color: #000; /* Preto */
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #FFA500; /* Laranja */
}

  /* Estilos gerais */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1, h2, h3 {
  margin: 0;
}

h2 {
  color: #333;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
}

/* Estilos do cabeçalho */
header {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}

/* Estilos da barra de navegação */
nav {
  background-color: #444;
  padding: 10px;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
}

/* Estilos da seção de destaque */
.hero {
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff;
  padding: 80px 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
  color: #333;
}

.hero .btn {
  display: inline-block;
  background-color: #ffcc00;
  color: #333;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

.hero .btn:hover {
  background-color: #e6b800;
}

.mapa img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Estilos do rodapé */
footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  color: #fff;
}
   